.error-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../dpikachu.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: black;
  opacity: .6;
}

.error-message {
  width: 100%;
  height: 100%;
  font-size: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
}