@font-face {
  font-family: "pokemonfont";
  src: local("pokemonfont"),
   url("./fonts/Pokemon\ Solid.ttf") format("truetype");
  /* font-weight: bold; */
  }

  @font-face {
    font-family: "thick";
    src: local("thick"),
     url("./fonts/Legothick.ttf") format("truetype");
    /* font-weight: bold; */
    }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

